
.board-read {
  background-color: #141414;
  color: #ffffff;
  padding: 20px;
  font-family: Arial, sans-serif;
  /* background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-radius: 4px; */
}

.board-content {
  background-color: #2f2f2f;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.board-header {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-category {
  background-color: #ffd700;
  color: #000000;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}

.board-button-update {
  background-color: #3f3f3f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.board-button-update:hover{
  background-color: red;
  cursor: pointer;
}

.board-title {
  font-size: 24px;
  margin: 10px 0;
}

.board-info {
  font-size: 14px;
  color: #aaaaaa;
}

.board-info span {
  margin-right: 15px;
}

.board-body {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
}

.comments-section {
  background-color: #2f2f2f;
  border-radius: 8px;
  padding: 20px;
}

.comment-count {
  font-size: 18px;
  margin-bottom: 15px;
}

.comment {
  background-color: #3f3f3f;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-replyer {
  font-weight: bold;
}

.comment-text {
  margin: 5px 0;
}

.comment-likes {
  font-size: 14px;
  color: #ff4444;
}

/* 네이버 댓글 입력창 UI 모방*/
.comment-form {
  background-color: #3f3f3f;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 15px;
  margin-top: 20px;
  box-sizing: border-box; /* textarea범위 설정을 위해 추가 */
}

.comment-input-area {
  margin-bottom: 10px;
}

.comment-input-area textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 10px;
  resize: none; /* textarea 크기 조절 : 불가능하게 */
  box-sizing: border-box; /* textarea범위 설정을 위해 추가 */
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-author {
  font-size: 14px;
  color: white;
  margin-right: 20px;
}

.comment-submit-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.comment-submit-btn:hover {
  background-color: #e50914;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  width: 50px;
  height: 50px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;



}

.pagination button:hover{
  background-color: rgb(143, 8, 14);
}

.pagination button.active {
  background-color: #e50914;
}